.footer__link {
  margin: 0 18px 0 0;
  max-width: 106px;
  max-height: 18px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width:767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
  }
}

.footer__link:hover {
  cursor: pointer;
}

.footer__link:last-of-type {
  margin: 0;
}
