.place__paragraph {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:nth-of-type(n+2) {
  margin-top: 26px;
}


@media screen and (max-width:1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
}

