.lead__image-container {
    max-width: 984px;
    max-height: 615px;
    display: flex;
    position: relative;
}
  
.lead__image-container::before {
    position: absolute;
    top: 15%;
    left: 2%;
    content: '';
    width: 95%;
    height: 263px;
    background-image: url("/Images/Map.svg");
    background-repeat: no-repeat;
    background-size: contain;
}