.cover__subtitle {
  margin: 0 auto 0;
  max-width: 360px;
  position: relative;
  text-align: center;
  z-index: 1;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
}

@media screen and (max-width:767px) {
  .cover__subtitle {
    padding: 0 30px;
    margin: 0 auto 0;
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
