.cover__title {
  margin: auto auto 32px;
  max-width: 560px;
  max-height: 152px;
  position: relative;
  text-align: center;
  z-index: 1;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #FFFFFF;
}

@media screen and (max-width:767px) {
  .cover__title {
    margin: 10% auto 32px;
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 1.09;
  }
}
