.footer {
  margin: 92px auto 24px;
  display: flex;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }

@media screen and (max-width:1023px) {
  .footer {
    max-width: 720px;
    margin: 88px auto 24px;
  }
}

@media screen and (max-width:767px) {
  .footer {
    max-width: 186px;
    margin: 64px auto 24px 16px;
    flex-direction: column;
    justify-content: space-between;
  }
}
